{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css%}

{% block title %}about {% endblock title %}



{% block body %}
<header>
    <h1>About Us</h1>
    <p>Welcome to Delicious Bites — where every bite tells a story</p>
</header>

<div class="container">
    <h2>Our Story</h2>
    <p>
        Delicious Bites started in 2020 with a simple mission — to bring fresh, authentic, and mouth-watering meals to
        food lovers.
        From humble beginnings as a family kitchen, we’ve grown into a loved restaurant known for quality ingredients
        and a cozy vibe.
    </p>
    {{output}}
    <h2>Our Mission</h2>
    <p>
        We aim to create memorable dining experiences by combining traditional recipes with modern flavors.
        Our team is passionate about food and committed to serving dishes that bring comfort and joy.
    </p>
    <h2>Our Services</h2>
    <div class="container mt-5">
        
        <div class="row">
            {% for n in ServiceData %}
            <div class="col-md-4">
                <div class="card text-center p-4 shadow-sm">
                    <div class="mb-3">
                        <i class="{{n.service_icon}}" style="font-size: 40px;"></i>
                    <h5 id="service_title">{{n.service_title}}</h5>
                    <p id="service_des">{{n.service_des}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

    <h2>Meet the Team</h2>
    <div class="team">
        {% for i in memberData %}
        <div class="team-member">
            <img src="{{i.member_image.url}}" alt="Chef" width="100">
            <h3>{{i.member_name}}</h3>
            <p>{{i.member_position}}</p>
        </div>
        {% endfor %}
        

        <!-- <div class="team-member">
            <img src="{% static 'image/Photo_Priyesh-modified.png' %}" alt="Manager Priyesh Mishra" width="100">
            <h3>Priyesh Mishra</h3>
            <p>Restaurant Manager & CEO </p>
        </div>
        <div class="team-member">
            <img src="{% static 'image/marketting.jpeg' %}" alt="Marketing" width="100">
            <h3>Ravi Patel</h3>
            <p>Head waiter</p>
        </div> -->
    </div>



{% endblock body %}