{% extends 'base.html' %}
{% load static %}
{% block title %}food{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/food.css' %}">
{% endblock css %}

{% block body %}
<header>
    <h1>Welcome to Delicious Bites</h1>
    <p>Your go-to place for mouth-watering dishes!</p>
</header>

<div class="food-section">
    <h2>Our Popular Dishes</h2>
    {% for n in foodData %}
    <div class="food-item">
        <img src="{{n.food_image.url}}" alt="Pizza" width="250" height="250">
        <div>
            <h3>{{n.food_name}}</h3>
            <p>{{n.food_des}}</p>
        </div>
    </div>
    {% empty %}
    <h5>No Data Found</h5>
    {% endfor %}

    <!-- <div class="food-item">
        <img src="{% static 'image/burger.jpg' %}" alt="Burger" width="250" height="250">
        <div>
            <h3>Cheese Burger</h3>
            <p>Juicy grilled patty with melted cheese and fresh veggies.</p>
        </div>
    </div>

    <div class="food-item">
        <img src="{% static 'image/pasta.jpg' %}" alt="Pasta" width="250" height="250">
        <div>
            <h3>Italian Pasta</h3>
            <p>Creamy Alfredo pasta with a touch of herbs.</p>
        </div>
    </div> -->
</div>
<nav aria-label="..." >
  <div class="container-fluid d-flex justify-content-center">
    <ul class="pagination">
      {% if foodData.has_previous %}
      <li class="page-item">
        <a class="page-link" href="/food/?page={{foodData.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      {% endif %}
      {% for n in totalpagelist %}
      <li class="page-item"><a class="page-link" href="/food/?page={{n}}">{{n}}</a></li>
      {% endfor %}
      {% if foodData.has_next %}
      <li class="page-item">
        <a class="page-link" href="/food/?page={{foodData.next_page_number}}">Next</a>
      </li>
      {% endif %}
    </ul>
  </div>
  </nav>



{% endblock body %}