{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block body %}

<marquee onmouseover="stop()" onmouseout="start()">
    {% for n in newsData %}
    <a href="/newsdetails/{{n.id}}/" > <i class="{{n.news_icon}}" style="font-size: 30px;"></i>  {{n.news_title}}  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    {% endfor %}
</marquee>
<div class="container my-4">
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        {% for n in homeData %}
        <div class="carousel-item active">
            <img src="{{n.gallery_image.url}}" class="d-block w-100" alt="..." height="500">
        </div>
        <!-- <div class="carousel-item">
            <img src="static\image\restaurant-2.jpg" class="d-block w-100" alt="..."  height="500">
        </div>
        <div class="carousel-item">
            <img src="static\image\restaurant-3.jpg" class="d-block w-100" alt="..." height="500">
        </div> -->
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div>


{% endblock body %}